<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
<META http-equiv="Content-Type" content="text/html" charset="UTF-8">
<META name="viewport" content="width=device-width, initial-scale=1">
<META name="author" content="Mahdiyeh Rezaei">
<title>LVS-006</title>

<link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/blog/"></link>
<!-- Bootstrap core CSS -->
<link href="../static/css/bootstrap.min.css" rel="stylesheet"></link>
<link href="../static/css/custom.css" rel="stylesheet"></link>
</head>
<body>
<div class="container">
<div class="header">
<div class="row">
<div class="col-md-4">
<div class="img">
<img src="https://up.7Learn.com/m/bnr/flutter-r10.png" class="img-fluid rounded-start img-size" alt="image">
</img>
</div>
</div>
<div class="col-md-8">
<h5 class="bold">Minden</h5>
</div>
</div>
</div>
<div class="content">
<div class="row mt-5">
<div class="col-md-12 border border-dark rounded">
<ul>
<li>5001310</li>
<li>test</li>
<li>test</li>
<li>test</li>
<li>test</li>
<li>test</li>
<li>test</li>
<li>test</li>
<li>Coffee GmbH</li>
</ul>
</div>
</div>
<div class="row mt-2">
<div class="col-md-12">
<ul>
<li>test</li>
<li>test</li>
<li>test</li>
<li>test</li>
<li>test</li>
</ul>
</div>
</div>
<div class="row mt-3">
<div class="col-md-3 border border-end-0 border-dark rounded">
<div class="img">
<img src="https://up.7Learn.com/m/bnr/flutter-r10.png" class="img-fluid rounded-start img-size" alt="img2">
</img>
</div>
</div>
<div class="col-md-9 border border-dark rounded">
Falschlieferung
</div>
</div>
<div class="row mt-4">
<table class="table text-center">
<thead>
<tr><th scope="col">NVE</th>
<th scope="col">ARTIKEL</th>
<th scope="col">GTINBE</th>
<th scope="col">GTINKE</th>
<th scope="col">SOLL MENGE</th>
<th scope="col">IST MENGE</th>
<th scope="col">CHARGE</th>
</tr>
</thead>
<tbody>
<!--/*@thymesVar id="map" type="java.util.Map"*/--->
<tr th:each="map1 : ${map}"><td>340224591711399927</td>
<td>1594384008</td>
<td>4311501387863</td>
<td>4311501387870</td>
<td>144</td>
<td>202</td>
<td>#</td>
</tr>
<tr>
<td>test</td>
<td>test</td>
<td>test</td>
<td>test</td>
<td>144</td>
<td>202</td>
<td>#</td>
</tr>
<tr>
<td>test</td>
<td>test</td>
<td>test</td>
<td>test</td>
<td>144</td>
<td>202</td>
<td>#</td>
</tr>
<tr>
<td>test</td>
<td>test</td>
<td>test</td>
<td>test</td>
<td>144</td>
<td>202</td>
<td>#</td>
</tr>
<tr>
<td>test</td>
<td>test</td>
<td>test</td>
<td>test</td>
<td>144</td>
<td>202</td>
<td>#</td>
</tr>
<tr>
<td>test</td>
<td>test</td>
<td>test</td>
<td>test</td>
<td>144</td>
<td>202</td>
<td>#</td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
<script src="../static/js/bootstrap.bundle.min.js"></script>
</body>
</html>
