body,
html {
    height: 100%;
    direction: rtl;
}

body {
    margin: 0;
    font-family: nika;
}

header,
footer {
    background-color: #34495e;
    color: #fff;
}

.container {
    max-width: 1000px;
    min-height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container>* {
    padding: 0 20px;
}

main {
    display: flex;
    margin-bottom: auto;
}

@media screen and (max-width: 768px) {
    main {
        flex-direction: column-reverse;
    }
}

.sideBar {
    margin-left: 40px;
}

.primary {
    text-align: justify;
}