.siteHeader {
    display: flex;
    padding: 10px;
    background-color: rgb(40, 10, 70);
    justify-content: space-between;
}

.siteHeader__section {
    display: flex;
    align-items: center;
    color: rgb(227, 184, 252);
}

.siteHeader__item {
    padding: 5px;
}

.siteHeader__item+.siteHeader__item {
    margin-left: 5px;
}

.siteHeaderButton {
    cursor: pointer;
}

.siteHeaderButton.active {
    background-color: rgb(70, 35, 105);
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.siteHeaderLogo {
    color: rgb(235, 101, 141);
}